/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* ////////////  UNIVERSAL SECTION ////////////// */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #777;
  font-family: "Lato, sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

/* ////////////  HEADER SECTION ////////////// */

.btn:link,
.btn:visited {
  border-radius: 100px;
  display: inline-block;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.logo {
  height: 35px;
  width: auto;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top; /* center is nice too  */
  height: 95vh;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75%,
    0 100%
  ); /* bennettfeely.com/clippy/*/
  position: relative;
}

.heading-primary {
  backface-visibility: hidden;
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
    animation-delay: 3s;
    animation-iteration-count: 3; --> for loop. runs 3 times*/
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  animation: moveInRight 1s ease-out; /* short hand version of main */
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  margin-bottom: 25px;
}

.header__text-box {
  left: 50%;
  position: absolute;
  top: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* ////////////  ANIMATION SECTION ////////////// */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 1;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 1;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
