body {
  color: $color-grey-dark;
  font-family: "Lato, sans-serif";
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  padding: 3rem;
}

.heading-primary {
  backface-visibility: hidden;
  color: $color-white;
  text-transform: uppercase;

  &--main {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3; --> for loop. runs 3 times*/
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  }
  &--sub {
    animation: moveInRight 1s ease-out; /* short hand version of main */
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-bottom: 2.5rem;
  }
}

.heading-secondary {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: transparent;
  display: inline-block;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
