/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: #777;
  font-family: "Lato, sans-serif";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  backface-visibility: hidden;
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3; --> for loop. runs 3 times*/
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    animation: moveInRight 1s ease-out;
    /* short hand version of main */
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-bottom: 2.5rem; }

.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-3px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(-1px); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  border-radius: 10rem;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1; }

.btn--animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* center is nice too  */
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  /* bennettfeely.com/clippy/*/
  position: relative; }
  .header__logo {
    height: 3.5rem;
    width: auto; }
    .header__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem; }
  .header__text-box {
    left: 50%;
    position: absolute;
    top: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 70rem; }
