@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0-600px  Phone 
600-900 Tablet portrait
900 -1200px Tablet Landscape
[1200 - 1800] Where our normal stles apply 
1800+  BIgger screens 

- phone
- tab-port
- tab-land 
- big-desktop

ORDER: Base + typography > general layout > component 

1em = 16px 
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      //900
      @content;
    }
  }
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      //1200
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      //1800
      @content;
    }
  }
}
