.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;

  &__content {
    @include absCenter;

    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    width: 75%;
    border-radius: 3px;
    display: table;
    opacity: 0;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s;
  }

  &__heading-secondary {
    width: 100%;

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__heading-tertiary {
    width: 100%;

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__btn {
    width: 100%;
    @include respond(tab-land) {
      text-align: center;
      padding: 2rem 0;
      margin-bottom: 4rem;
    }
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;

    @include respond(tab-land) {
      display: table-row;
      width: 48.5.666666667%;
    }
  }

  &__right {
    width: 66.666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      display: table-row;
      vertical-align: middle;
    }
  }

  &__img {
    width: 100%;
    display: block;
    @include respond(tab-land) {
      width: 50%;
      display: inline-block;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-darker;

    column-count: 2;
    column-gap: 4rem; //1em = 14px becuase of font
    column-rule: 1px solid $color-grey-light-darker;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 0;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
